.categories__title {
    background: #8f57fd;
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: -16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
    box-shadow: rosybrown 0.2rem 0.3rem 0.7rem;
}